<a href="https://colab.research.google.com/github/Saikiran4545/Data_Science_Python/blob/main/Basic_Python_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed

Sets cannot have two items with the same value.

Example

Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [1]:
#To determine how many items a set has, use the len() function.

#Example
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [3]:
#Set Items - Data Types
#Set items can be of any data type:

#Example
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
#A set can contain different data types:

#Example
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

#From Python's perspective, sets are defined as objects with the data type 'set':


#Example
#What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.
**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [4]:
#You cannot access items in a set by referring to an index or a key.

#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

#Example
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
#Example
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

banana
cherry
apple
True

In [5]:
#Once a set is created, you cannot change its items, but you can add new items.

#To add one item to a set use the add() method.

#Example
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [6]:
#To add items from another set into the current set, use the update() method.

#Example
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'pineapple', 'apple', 'banana', 'mango'}

In [7]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

#Example
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'banana', 'orange'}

In [8]:
#To remove an item in a set, use the remove(), or the discard() method.

#Example
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [9]:
#You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

#The return value of the pop() method is the removed item.

#Example
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [10]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [12]:
#You can loop through the set items by using a for loop:

#Example
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [13]:
#There are several ways to join two or more sets in Python.

#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

#Example
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [14]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

In [15]:
#The intersection_update() method will keep only the items that are present in both sets.

#Example
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [16]:
#Keep All, But NOT the Duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

#Example
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

Set Methods

Python has a set of built-in methods that you can use on sets.

Method	Description
add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others