<a href="https://colab.research.google.com/github/Saikiran4545/Data_Science_Python/blob/main/Basics_Python_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Items**

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicate**
Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
#Tuple Length
#To determine how many items a tuple has, use the len() function:

#Example
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

#Example
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [5]:
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
#A tuple can contain different data types:

#Example
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

In [6]:
#It is also possible to use the tuple() constructor to make a tuple.

#Example
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.
**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

In [7]:
#Access Tuple Items
#You can access tuple items by referring to the index number, inside square brackets:

#Example
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [9]:
#Range of Indexes
#You can specify a range of indexes by specifying where to start and where to end the range.

#When specifying a range, the return value will be a new tuple with the specified items.

#Example
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [10]:
#Specify negative indexes if you want to start the search from the end of the tuple:

#Example
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [11]:
#Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

'''Change Tuple Values
#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

#Example
#Convert the tuple into a list to be able to change it''

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [2]:
# Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

#Example
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [3]:
#2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

#Example
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

#Example
#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [5]:
#Loop Through a Tuple
#You can loop through the tuple items by using a for loop.

#Example
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [6]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.

#Example
#Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [7]:

#You can loop through the list items by using a while loop.

#Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

#Remember to increase the index by 1 after each iteration.

#Example
#Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [8]:
#Join Two Tuples
#To join two or more tuples you can use the + operator:

#Example
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [9]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:

#Example
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

**Tuple Methods**

Python has two built-in methods that you can use on tuples.

Method	Description
 
count()	Returns the number of times a specified value occurs in a tuple

index()	Searches the tuple for a specified value and returns the position of where it was found