<a href="https://colab.research.google.com/github/Saikiran4545/Data_Science_Python/blob/main/Python_Programms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ProgrammeNo:- 1 :- 
#print Hello World
print("Hello World")

Hello World

In [1]:
#Programme 21:- We  cant add directly number and string so we use format method
age = 25
txt = "My name is John, and my age is {}" #The format() method takes the passed arguments, 
#formats them, and places them in the string where the placeholders {} are:
print(txt.format(age))

My name is John, and my age is 25

In [2]:
#Programme 22
quantity = 120
itemno = 256
price = 10000
myorder = "I want pieces {} of item {} of the dollars {}" # We can pass any number of arguments and places into {} resp place holders
print (myorder.format(quantity,itemno,price))

I want pieces 120 of item 256 of the dollars 10000

In [3]:
#Programme 23
quantity= 3
itemno = 89
price =100
myorder = " I want to pay {2} for item {0} of the quantity {1}" # we can use the indexing for the format also
print(myorder.format(quantity,itemno,price))

 I want to pay 100 for item 3 of the quantity 89

In [6]:
#Programme 24
txt = "We are so called \"vikings\" from north" # usually we cant add double quotes in string but we can add by using \
print(txt)

We are so called "vikings" from north

In [11]:
#Programme 25
a = 100
b = 200
if b>a:
   print ("a is greater than b" )
else:
   print("a is less than b")

a is greater than b

In [ ]:

#Programme 11:-
#Given two numbers num1 and num2. The task is to write a Python program to find the addition of these two numbers. 

num1 = 15 
num2 = 20
sum= num1+num2
print(sum)

In [1]:
#Programme 26
Fruits= ["banana","Apple","orange"]
print(Fruits)

['banana', 'Apple', 'orange']

In [3]:
#Programme 27
Fruits = ["banana","Apple","orange","Apple"] # duplicates are allowed in list
print(Fruits)
print(len(Fruits))

['banana', 'Apple', 'orange', 'Apple']
4

In [4]:
#Programme 28
List1=["banana", "cherry", "apple"]
List2=[1,2,3]
List3=[True,False]
print(List1)
print(List2)
print(List3)

['banana', 'cherry', 'apple']
[1, 2, 3]
[True, False]

In [5]:
#Programme 29
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [6]:
#Programme 30
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #we can decite where to start and where to end

['cherry', 'orange', 'kiwi']

In [5]:
#Programme 31
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:5])
print(thislist[3:])
print(thislist[-4:-1])
print(thislist[:-1])
print(thislist[-3:])

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
['kiwi', 'melon', 'mango']

In [6]:
#Programme 32
Fruit = ["Banana","Apple","Cherry"]
Fruit[1]="Pear"
print(Fruit)

['Banana', 'Pear', 'Cherry']

In [ ]:
#Programme 12 :-
#Adding two number provided by user input 
num1 = input("First number") #variable declared as num1  and input is gives to type out put on console
num2 = input("Second number") #same as above 
sum = (num1 + num2) #addition of two variable 
print(sum)
print("sum of {0} and sum of {1} is {2}" .format(num1,num2,sum)) #used the format function so we get this o/p :- sum of 10.5 and sum of 20.5 is 10.520.5

First number10.5
Second number20.5
10.520.5
sum of 10.5 and sum of 20.5 is 10.520.5

In [ ]:
#Programme 13  :-
import random
print(random.randrange(1,20))

5

In [ ]:
#programme 14
for x in "banana": # we made a for loop for the string. As strings are array we can do looping
       print(x)

b
a
n
a
n
a

In [ ]:
#Programme 15
a = "Hello, World!"
print(len(a))  # len() this function gives the length of string

13

In [ ]:
#Programme 16
txt = " The best moments in life"
print("best" in txt) # we use in keyword to checkthe string and we get boolean o/p

True

In [ ]:
#Programme 17
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
#Programme 18
a = "Hello, World!"
print(a[2:5]) # Here we are slicing the word by using slicing syntax

llo

In [ ]:
#Programme 19
a = "Hello, World!"
print(a[:5]) # here we have sliced a word befor 5th index and indexing starts from 0.

Hello

In [ ]:
#Programme 20
b = "Hello, World!" # here we are doing slicing after 2nd index
print(b[2:])

llo, World!

In [ ]:
# ProgrammeNo:- 2 :- 
# Five is greater than two
if 5 > 2 :
 print("Five is greater than Two")

Five is greater than Two

In [ ]:
# ProgrammeNo:- 3 :- 
#Five is greater than two
if 5>2 :
 print("Five is greater than two")
 if 5>2 :  
    print("Five is greater than two")

Five is greater than two
Five is greater than two

In [ ]:
# ProgrammeNo:- 4 :-
# Variables
x=5
y= "Sai" 
print(x)
print(y)

5
Sai

In [ ]:
# ProgrammeNo:- 5 :-
x = 4         # int
x = "SAI"     #String
print(x)

SAI

In [ ]:
# ProgrammeNo:- 6 :-
x = 5
y = "Sai"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# ProgrammeNo:- 7 :-
a = 4
A = "SAI"
print(a)
print(A)  # a will not overwrite A

4
SAI

In [ ]:
# ProgrammeNo:- 8 :-
x , y , z = "Orange" , "Banana" , "Apple"
print(x)
print(y)
print(z)

Orange
Banana
Apple

In [ ]:
# ProgrammeNo:- 9:-
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# ProgrammeNo:- 10:-
fruits = ["orane" , "Banana" , "Apple"]
x, y, z = fruits
print(x)
print(y)
print(z)

orane
Banana
Apple